#bodyMain {
    margin: 0;
    background: black;
}

#slides{
    background: black;
}

.carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.carousel{
    /* border: solid 2px black; */
}

.image-container{
    margin: 10px;
}

#jumboEPIC{
    background: black;
    color: white; 
}

#jumboAPOD{
    background: black;
    color: white; 
}

.image-container{
    background: black;
    display: flex;
    justify-content: center;
}


/* GALLERY */
#bodyGallery{
    background: black;
}

.galleryContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardSubText{
}

#galleryCard{
    margin: 10px;
    max-width: 600px;
}

#galleryCardInner{
    background: black;
    color: white;
    /* display: flex;
    flex-wrap: wrap; */
}

/* search date */
.dateSearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}