*{
    font-family: 'Roboto', sans-serif;
}


#bodyMain {
    margin: 0;
    background: black;
}

.header{
    font-style: italic;
    color: rgba(197, 197, 197, 0.801);
    padding: 2em;
}

#slides{
    background: black;
}

.carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.carousel{
    color: white;
}

.image-container{
    margin: 10px;
}

#jumboEPIC{
    color: rgb(216, 216, 216);
    background: url("https://www.nasa.gov/sites/default/files/image1-dscovrl1-orbit.jpg") center bottom;
    background-size: cover;
    margin: 20px;
    height: 500px;
}

.jumbotronContentLead{
    width: 300px;
    margin-top: 0px;
}

.jumbotronContent{
    margin-top: 190px;
    width: 300px;
}

#DSCOVER{
    margin-top: 10px;
}

#jumboAPOD{
    background: black;
    color: white; 
}

.image-container{
    background: black;
    display: flex;
    justify-content: center;
}


/* GALLERY */
#bodyGallery{
    background: black;
}

.galleryContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardSubText{
}

#galleryCard{
    margin: 10px;
    max-width: 600px;
}

#galleryCardInner{
    background: black;
    color: white;
    /* display: flex;
    flex-wrap: wrap; */
}

/* search date */
.dateSearchContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.searchCardHeader{
    font-style: italic;
    margin: 10px;
}

.pageCount{
    margin-left: 10px;
}

#searchBtn{
    margin-left: 20px;
}

#searchCard{
    margin: 20px;
}

iframe{
    width: 800px;
    height: 450px;    
}

/* Mars */
body{
    background: black;
}

.marsGalleryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.marsImgContainer{
    margin: 10px;
    color: white;
    border: solid 2px white;
}

.marsGalleryContainer img {
    width: 300px;
}

.marsHeader{
    display: flex;
    margin: 10px;
}

.pageCount{
    color: white;
}